{% extends 'base.html.twig' %}

{% block title %}Listado de libros{% endblock %}

{% block body %}
    <h1>Listado de libros</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Autor</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for libro in libros %}
            <tr>
                <td>{{ libro.id }}</td>
                <td>{{ libro.titulo }}</td>
                <td>{{ libro.autor }}</td>
                <td>{{ libro.descripcion }}</td>
                <td>{{ libro.precio }}</td>
                <td>
                    <a href="{{ path('app_libro_show', {'id': libro.id}) }}">Mostrar</a>
                    <a href="{{ path('app_libro_edit', {'id': libro.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_libro_new') }}">Crear nuevo libro</a>
{% endblock %}
